# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: kbarru <kbarru@student.42lyon.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/11/03 14:21:50 by kbarru            #+#    #+#              #
#    Updated: 2025/11/03 14:21:51 by kbarru           ###   ########lyon.fr    #
#                                                                              #
# **************************************************************************** #

.obj
fdf_test_files
*.json
*.sh
fdf
fdf_linux
.cache
